.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;

  .nav-top {
    display: flex;
    margin-bottom: 40px;
    gap: 20px;
    align-items: center;

    .user-name {
      font-size: 1.125em;
      color: $color-dark-gray;
    }

    .logout-btn {
      border: 0.75px solid $color-gold;
      padding: 10px;
      cursor: pointer;
      text-decoration: none;
      color: $color-light-gray;
      background-color: transparent;
    }

    .sign-in-btn {
      margin-right: 20px;
      cursor: pointer;
      text-decoration: none;
      color: $color-light-gray;
    }

    .sign-up-btn {
      border: 0.75px solid $color-gold;
      padding: 10px;
      cursor: pointer;
      text-decoration: none;
      color: $color-light-gray;
    }
  }
  .nav-bottom {
    display: flex;
    gap: 30px;
    color: $color-dark-gray;
  }

  .nav-bottom-element-link {
    border: 0.75px solid transparent;
    padding: 10px 20px;
    text-decoration: none;
    color: $color-dark-gray;
    cursor: pointer;
  }
}
